<mat-card>
  <h1 class="mat-display-3">Typografie</h1>
</mat-card>

<h1>This header is unstyled</h1>
      <section class="mat-typography">
        <h1>This header will be styled</h1>
      </section>
      <br>
      <br>
      <section>
        <h1 class="mat-display-4">H1 mit display-4</h1>
        <h1 class="mat-display-3">H1 mit display-3</h1>
        <h1 class="mat-display-2">H1 mit display-2</h1>
        <h1 class="mat-display-1">H1 mit display-1</h1>
        <h1>H1 ohne display-...</h1>
        <h2 class="mat-display-4">h2 mit display-4</h2>
        <h2 class="mat-display-3">h2 mit display-3</h2>
        <h2 class="mat-display-2">h2 mit display-2</h2>
        <h2 class="mat-display-1">h2 mit display-1</h2>
        <h2>h2 ohne display-...</h2>
        <p class="mat-display-4">p mit display-4</p>
        <p class="mat-display-3">p mit display-3</p>
        <p class="mat-display-2">p mit display-2</p>
        <p class="mat-display-1">p mit display-1</p>
        <p>p ohne display-...</p>
        <mat-divider></mat-divider>
        <p class="mat-h1">p mit mat-h1</p>
        <p class="mat-headline">p mit mat-headline</p>
        <p class="mat-h2">p mit mat-h2</p>
        <p class="mat-title">p mit mat-title</p>
        <p class="mat-h3">p mit mat-h3</p>
        <p class="mat-subheading-2">p mit mat-subheading-2</p>
        <p class="mat-h4">p mit mat-h4</p>
        <p class="mat-subheading-1">p mit mat-subheading-1</p>
        <mat-divider></mat-divider>
        <p class="mat-body-1">p mit mat-body-1</p>
        <p class="mat-body-2">p mit mat-body-2</p>
        <p class="mat-caption">p mit mat-caption</p>
        <p class="mat-button">p mit mat-button</p>
        <p class="mat-input">p mit mat-input</p>
      </section>
      <section>
        <div style="height: 300px;" fxLayout="row">
          <div fxFlex="30">Bla bli blub</div>
          <div fxFlex="30">Bla bli blub</div>
          <div fxFlex="40">Bla bli blub</div>
        </div>
      </section>