<!-- <p class="mat-display-3 dashboard-title">
  Dashboard
</p> -->
<div fxLayout="row wrap" fxLayoutAlign="space-around center" class="dashboard-card-collection">
  <div fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%">
      <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>Einführung</mat-card-title>
            <mat-card-subtitle>Eine Übersicht zu Angular 6 mit dem Material-Design</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Ea labore quis laborum culpa consectetur cupidatat nostrud reprehenderit ea et pariatur. Amet laborum adipisicing aliquip
              dolor elit excepteur aute. Excepteur voluptate consequat est qui tempor. Ad cupidatat irure minim tempor aute et
              tempor officia magna mollit enim aute ad aliquip. Cillum mollit commodo ex adipisicing mollit et eu elit consequat
              ut ea.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="goToIntroduction()">
              Zur Einführung
            </button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%">
      <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>FlexLayout</mat-card-title>
            <mat-card-subtitle>FlexLayout Erklärungen und Beispiele</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Ea labore quis laborum culpa consectetur cupidatat nostrud reprehenderit ea et pariatur. Amet laborum adipisicing aliquip
              dolor elit excepteur aute. Excepteur voluptate consequat est qui tempor. Ad cupidatat irure minim tempor aute et
              tempor officia magna mollit enim aute ad aliquip. Cillum mollit commodo ex adipisicing mollit et eu elit consequat
              ut ea.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="goToFlexLayout()">
              Zu FlexLayout
            </button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%">
      <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>Typografie</mat-card-title>
            <mat-card-subtitle>Typografische Besonderheiten bei Angular</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Ea labore quis laborum culpa consectetur cupidatat nostrud reprehenderit ea et pariatur. Amet laborum adipisicing aliquip
              dolor elit excepteur aute. Excepteur voluptate consequat est qui tempor. Ad cupidatat irure minim tempor aute et
              tempor officia magna mollit enim aute ad aliquip. Cillum mollit commodo ex adipisicing mollit et eu elit consequat
              ut ea.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="goToTypografie()">
              Zu Typografie
            </button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>